* {
  box-sizing: border-box;
}

body {
  font-family: 'Share Tech Mono', monospace;
  color: #FAF9F6;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #050208, #13071b, #1b0c29, #220e38, #2b0e47, #330e56, #3b0d65, #440b74, #4c0c88, #540e9c, #5b11b1, #6114c7);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  margin: 0 10rem;
  background-attachment: fixed;
}


h1 {
  font-size: 3.2rem;
  text-align: center;
  line-height: 80%;
}

form {
  display: flex;
  justify-content: center;
}

input, select {
  padding: .3rem 1.5rem .3rem .5rem;
  border-radius: 5px;
  background: inherit;
  color: #FAF9F6;
  border: none;
  margin-right: .5rem;
}

option {
  background: rgba(27,24,31,1);
  color: #FAF9F6;
}

i {
  cursor: pointer;
  margin: 0 .4rem;
}

ul {
  list-style: none;
  padding-left: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 30px #6114c7;
}

li {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.inputContainer {
  position: relative;
}

.noTodo {
  font-size: 2rem;
  line-height: 90%;
}

.noShadow {
  box-shadow: none;
}

.inputContainer > i {
  position: absolute;
  top: .313rem;
  right: .5rem;
}

.list {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.todo {
  width: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: none;
  padding-left: .5em;
}

.todo--text {
display: block;
padding: .2em 0;
margin-bottom: .3em;

}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputContainer {
  margin-right: 2rem;
}

.completed {
  text-decoration: line-through;
  opacity: 60%;
}

.time {
  font-size: .6rem;
  margin: 0px;
  opacity: 70%;
}

::placeholder {
  color: #FAF9F6;
  opacity: 80%;
}

.icons {
  margin-right: .2em;
}

.icons > i {
  margin: 0 .1em;
}

input:hover, select:hover {
  box-shadow: 0px 0px 30px #6114c7;
}

@media screen and (max-width: 800px) {
  .todo {
    width: 350px;
  }
  form {
    align-self: center;
    flex-wrap: wrap;
  }

  input {
    width: 87%;
    margin-left: 20px;
  }

  select {
    width: 60px;
    padding: 0;
  }

  h1 {
    align-self: center;
  }

  body {
    margin: 0;
  }
}