* {
  box-sizing: border-box;
}

body {
  font-family: 'Share Tech Mono', monospace;
  height: 100vh;
  margin: 0 200px;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
}

input {
  padding: .3rem 1.5rem .3rem .5rem;
  border-radius: 10px;
}

select {
  border-radius: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.inputContainer {
  margin-right: 2rem;
  position: relative;
}

.inputContainer > i {
  position: absolute;
  top: 6px;
  left: 176px;
}

.completed {
  text-decoration: line-through;
}

.time {
  font-size: .7rem;
}

i {
  cursor: pointer;
}